body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#mainContainer {
  background-color: rgb(49, 49, 49);
}

#navbarWhole {
  color: whitesmoke;
}

.bigFont {
  font-family: "Staatliches", cursive;
  color: whitesmoke;
}

#makeChallengeBodyInput {
  width: 1000px;
  height: 100px;
  flex-wrap: wrap;
}

#makeChallengeTitleInput,
#makeChallengeLocationInput {
  width: 1000px;
  height: 50px;
  flex-wrap: wrap;
}

.formLabel {
  font-size: 35px;
}

.makePostForm {
  text-align: center;
  justify-content: center;
}
